<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="head :: head">
</head>

<body>
<!-- container section end -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="editModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Update Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/location/update}" method="put" data-nos>
                    <div class="form-group">
                        <label for="loc_idEdit" class="col-form-label">Id:</label>
                        <input type="text" class="form-control" id="loc_idEdit" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="loc_addressEdit" class="col-form-label">Address:</label>
                        <input type="text" class="form-control" id="loc_addressEdit" name="description">
                    </div>
                    <div class="form-group">
                        <label for="loc_codeEdit" class="col-form-label">Code:</label>
                        <input type="text" class="form-control" id="loc_codeEdit" name="code">
                    </div>
                    <div class="form-group">
                        <label for="loc_descriptionEdit" class="col-form-label">Description:</label>
                        <input type="text" class="form-control" id="loc_descriptionEdit" name="continent">
                    </div>
                    <div class="form-group">
                        <label for="loc_detailsEdit" class="col-form-label">Details:</label>
                        <input type="text" class="form-control" id="loc_detailsEdit" name="nationality">
                    </div>
                    <div class="form-group">
                        <label for="loc_ddlCountryEdit" class="col-form-label">Country:</label>
                        <select class="form-control" id="loc_ddlCountryEdit" name="countryid">
                            <option>-SELECT-</option>
                            <option th:each="country : ${countries}"
                                    th:value="${country.id}"
                                    th:text="${country.description}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="loc_ddlStateEdit" class="col-form-label">State:</label>
                        <select class="form-control" id="loc_ddlStateEdit" name="stateid">
                            <option>-SELECT-</option>
                            <option th:each="state : ${states}"
                                    th:value="${state.id}"
                                    th:text="${state.name}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- javascripts -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- nice scroll -->
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
<!--custome script for all page-->
<script src="js/scripts.js"></script>
<script src="js/country.js"></script>

</body>

</html>
