<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="head :: head"></head>
<body>
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:fragment="detailsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <div class="modal-header">
                <h5 class="modal-title" id="">Details Country</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/location/details}" method="GET" data-nos>
                    <div class="form-group">
                        <label for="local_idDetails" class="col-form-label">Id:</label>
                        <input type="text" class="form-control" id="local_idDetails" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="loc_addressDeteils" class="col-form-label">Address:</label>
                        <input type="text" class="form-control" id="loc_addressDeteils" name="description" readonly>
                    </div>
                    <div class="form-group">
                        <label for="loc_cityDeteils" class="col-form-label">City:</label>
                        <input type="text" class="form-control" id="loc_cityDeteils" name="capital" readonly>
                    </div>
                    <div class="form-group">
                        <label for="loc_codeDeteils" class="col-form-label">Code:</label>
                        <input type="text" class="form-control" id="loc_codeDeteils" name="code" readonly>
                    </div>
                    <div class="form-group">
                        <label for="loc_descriptionDeteils" class="col-form-label">Description:</label>
                        <input type="text" class="form-control" id="loc_descriptionDeteils" name="continent" readonly>
                    </div>
                    <div class="form-group">
                        <label for="loc_detailsDetails" class="col-form-label">Details:</label>
                        <input type="text" class="form-control" id="loc_detailsDetails" name="nationality" readonly>
                    </div>
                    <div class="form-group">
                        <label for="loc_stateIdDetails" class="col-form-label">State_ID:</label>
                        <input type="text" class="form-control" id="loc_stateIdDetails" name="nationality" readonly>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>