<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="head :: head"></head>
<body>
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     th:fragment="detailsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Details State</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/states/details}" method="GET" data-nos>
                    <div class="form-group">
                        <label for="StateCountryDetails" class="col-form-label">Country:</label>
                        <select class="form-control" id="StateCountryDetails" name="countryid" onchange="updateDetailsFromSelect(this)">
                            <option>-SELECT-</option>
                            <option th:each="country : ${countries}"
                                    th:value="${country.id}"
                                    th:text="${country.description}"
                                    th:attr="data-continent=${country.continent},
                                    data-capital=${country.capital},
                                    data-nationality=${country.nationality},
                                    data-id=${country.id}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="descriptionDetails" class="col-form-label">Id:</label>
                        <input type="text" class="form-control" id="idDetails" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="descriptionDetails" class="col-form-label">Description:</label>
                        <input type="text" class="form-control" id="descriptionDetails" name="description" onclick="myFunction(this)">
                    </div>
                    <div class="form-group">
                        <label for="capitalDetails" class="col-form-label">Capital:</label>
                        <input type="text" class="form-control" id="capitalDetails" name="capital">
                    </div>
                    <div class="form-group">
                        <label for="codeDetails" class="col-form-label">Code:</label>
                        <input type="text" class="form-control" id="codeDetails" name="code">
                    </div>
                    <div class="form-group">
                        <label for="continentDetails" class="col-form-label">Continent:</label>
                        <input type="text" class="form-control" id="continentDetails" name="continent">
                    </div>
                    <div class="form-group">
                        <label for="nationalityDetails" class="col-form-label">Nationality:</label>
                        <input type="text" class="form-control" id="nationalityDetails" name="nationality">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>