<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="~{/utils/head :: head}">

</head>

<body onload="loadFlashAttribute()">
<!-- container section start -->
<section id="container" class="">
    <!--header start-->

    <header class="header dark-bg" th:insert="~{index :: header}">
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse " th:insert="~{index :: sidebar}">
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa fa-bars"></i> List of Invoice</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                        <li><i class="fa fa-bars"></i>Pages</li>
                        <li><i class="fa fa-square-o"></i>Pages</li>
                    </ol>
                </div>
            </div>
            <div id="flash" style="max-width:500px;margin:auto">
                <p th:text="${danger}"></p>
                <p th:text="${success}" id="succ"></p>
            </div>
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary tooltip-r" data-toggle="modal" data-target="#addModal"
                            title="New State" data-placement="left">
                        <img alt="avatar"
                             src="./img/line-icon-hover.gif" style="max-width: 1.3em; max-height: 1.3em;">
                    </button>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Client</th>
                            <th>Remarks</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <tr th:each="invoice:${invoices}">
                            <td th:text="${invoice.id}"></td>
                            <td th:text="${invoice.invoiceDate}"></td>
                            <td th:text="${invoice.client.name}"></td>
                            <td th:text="${invoice.remarks}"></td>
                            <td>
                                <div class="btn-group">
                                    <a th:href="@{/invoice/findById/(id=${invoice.id})}" class="btn btn-primary tooltip-r" id="editButton"
                                       data-toggle="tooltip" data-placement="left" title="Edit" th:attr="data-id=${invoice.id}"><img
                                            alt="avatar"
                                            src="./img/edit.gif" style="max-width: 1.3em; max-height: 1.3em;"></a>
                                </div>
                                <div class="btn-group">
                                    <a th:href="@{'/invoice/details/' + ${invoice.id}}" class="btn btn-success" id="detailsButton"><i
                                            class="icon_document_alt"></i></a>
                                </div>
                                <div class="btn-group">
                                    <a th:href="@{'/invoice/delete/' + ${invoice.id}}" class="btn btn-danger tooltip-r" id="deleteButton"
                                       data-toggle="tooltip" data-placement="left" title="Delete"><img
                                            alt="avatar"
                                            src="./img/delete.gif" style="max-width: 1.3em; max-height: 1.3em;"></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
    <div class="text-right">
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</section>
<!-- container section end -->
<div th:insert="~{/utils/invoice/invoice_addModal :: addModal}">
</div>

<div th:insert="~{/utils/invoice/invoice_editModal :: editModal}">
</div>

<div th:insert="~{/utils/invoice/invoice_deleteModal :: deleteModal}"></div>

<div th:insert="~{/utils/invoice/invoice_detailsModal :: detailsModal}"></div>
<!-- javascripts -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- nice scroll -->
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
<!--custome script for all page-->
<script src="js/scripts.js"></script>
<script src="js/invoice.js"></script>
<script src="js/utils/utils.js"></script>
<script src="js/utils/pagination.js"></script>
</body>

</html>